* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 906px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.calculator {
  width: 600px;
  height: 920px;
  margin-top: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #000;
}
.calculator p {
  width: 79px;
  margin: 10px 0;
  padding: 5px 10px;
  color: #fff;
  background-color: #242323;
  border: 1px solid rgb(27, 26, 26);
  border-radius: 4px;
  position: relative;
  right: -480px;
}

.calculator-screen input {
  width: 562px;
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 40px 0;
  border-radius: 4px;
  background-color: #767677;
}
.calculator-operator button{
  width: 130px;
  height: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 50%;
  border: none;
}

.clear,
.seven,
.four,
.one,
.zero {
  margin-left: 15px;
}

input::placeholder {
  text-align: end;
  color: #fff;
  font-size: 30px;
}

.clear,
.delete,
.mod {
  font-size: 25px;
  background-color: #979595;
}

.number {
  color: #fff;
  background-color: #242323;
  font-size: 25px;
}

.operators {
  background-color: #D97F6D;
  font-size: 25px;
}

svg {
  width: 20px;
}